.main-layout {
  min-height: 100vh;

  .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .content {
    max-width: 1100px;
    width: 100%;
    margin: 30px auto 0;
    background: #fff;
  }
}
